body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 280vh;
    position: relative; 
}

.header {
    width: 100%;
}

.top-bar {
    background-color: #056ad6; /* Ajusta el color según el fondo de tu imagen */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    color: white;
}

.top-bar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.location-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.location-icon {
    width: 16px; /* Ajusta el tamaño según sea necesario */
    height: 16px;
    margin-right: 5px;
}

.vehicles-image {
    width: 350px;
    height: 50px; /* Ajusta el tamaño según sea necesario */
    margin-right: 20px;
}

.contact {
    display: flex;
    gap: 25px; /* Añade separación entre los botones */
}

.contact-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.contact-icon {
    width: 25px; /* Ajusta el tamaño según sea necesario */
    height: 25px;
    
    margin-right: 5px;
}

.footer-icon {
    width: 25px;
    height: 25px;
   
    margin-right: 5px;
}

.main-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.logo img {
    width: 90px;
    height: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropbtn {
    background-color: #ffffff;
    border: none;
    color: #ff00ff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.mt-5{
    text-align: center;
}

.products-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin: 0 auto; /* Centra horizontalmente y asegura márgenes izquierdo y derecho automáticos */
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
}

.marcas {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px 20px; /* Añade padding alrededor de los productos */
}

.log-img {
    height: 180px;
    margin-right: 20px; /* Añade espacio entre los productos */
    text-align: center;
    border-right: 1px solid #f50404; /* Añade línea fina a la derecha de cada producto */
    padding-right: 20px; /* Añade espacio entre el producto y la línea */
}

.products {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px 20px; /* Añade padding alrededor de los productos */
}

.product {
    min-width: 200px;
    margin-right: 20px; /* Añade espacio entre los productos */
    text-align: center;
    border-right: 1px solid #f50404; /* Añade línea fina a la derecha de cada producto */
    padding-right: 20px; /* Añade espacio entre el producto y la línea */
}

.product:last-child {
    margin-right: 0; /* Elimina el margen derecho del último producto */
    border-right: none; /* No añade línea a la derecha del último producto */
}

.product img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #056ad6;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color:#ff00bf;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-logo img {
    width: 200px; 
    height: 200px; 
    margin-bottom: 10px;
}

.tel-logo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.tel-logo {
    display: flex;
}

.tel-logo a {
    margin-right: 10px; 
}

